.list-group-item {
    border: none;
    padding-right: 40px;
}

.nav-left img {
    width: 200px;
}

nav {
    padding: 15px;
    position: fixed;
    width: 100vw;
    z-index: 10;
    background-color: #fff;
}

a {
    color: black;

    &:hover {
        text-decoration: none;
    }

    &.button-candidate {
        background-color: $boolean_green;
        color: #fff;
        padding: 10px 25px;
        border-radius: 5px;
    }
}
