.list-group-item {
    border: none;
    padding-right: 30px;
    padding-left: 30px;

    &:hover {
        border-bottom: 3px solid $boolean_green;
    }

    &.list-button:hover {
        border: none;
    }
}

.nav-left img {
    width: 200px;
}

header {
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}

a {
    color: black;

    &:hover {
        text-decoration: none;
    }

    &.button-candidate {
        background-color: $boolean_green;
        color: #fff;
        padding: 10px 25px;
        border-radius: 5px;

        &:hover {
            background-color: #73d462;
        }
    }


}
