.jumbotron {
    padding-top: 200px;
    background-color: #fff;

    ul {
        padding-left: 15px;
    }

    .lead {
        font-size: 22px;
        font-weight: 300;
    }

    strong {
        font-weight: bolder;
    }
}
